* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-brown{
    background-color: white;
}
  .nav-item .nav-link{
    font-size: 20px;
    color: black;
}
  .form-control{
    position: relative;    
}
.icon{
    position: absolute;
    right: 20px;
    top: 20px;
}
.menu {
  display: flex;
  gap: 30px;
  padding: 20px;
}
.footer-link {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    transition: color 0.3s;
}
        
.footer-link:hover {
    color: var(--starbucks-green);
}
        
.divider {
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    margin: 30px 0;
}